/*---------------------------------- Seccion de index css----------------------------------*/
:root {
  --scheme-color-1: #4b718c;
  --scheme-color-2: #688eaa;
  --scheme-color-3: #86acc9;
  --scheme-color-4: #a4cbe9;
  --scheme-color-5: #bfe0fa;
  --scheme-color-6: #d5eafc;
  --scheme-color-7: #eaf5fd;
  --scheme-color-8: #ffffff;
  --scheme-color-9: #2E8B57;
  --scheme-color-10: #226840;
  --scheme-color-11: #29a35e;
  --color-navbar: #022d26;
}
.introduccion h2 {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 500px;
      background-color: var(--scheme-color-6);
    color: var(--scheme-color-9);
    border: 2px var(--scheme-color-4) solid;
    border-radius: 20px;
}
.introduccion p {
    border-radius: 8px;
    margin: auto;
    padding: 20px;
}
.Historia h2 {
        margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 300px;
      background-color: var(--scheme-color-6);
    color: green;
    border: 2px var(--scheme-color-4) solid; 
    border-radius: 20px;
}
.Historia p{
    margin-top: 20px;
    padding: 20px;
}


.Bandera p{
    padding: 20px;
    margin: auto;
}
.Bandera h2{ margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 300px;
      background-color: var(--scheme-color-6);
    color: green;
    border: 2px var(--scheme-color-4) solid;
border-radius: 20px;
}

.Bandera img{
    max-width: 100%;
    height: auto;
    border-radius: 15px; 
}

.Escudo p{
    border-radius: 8px;
    padding: 20px;
    margin: auto;
}
.Escudo h2{
     margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 300px;
      background-color: var(--scheme-color-6);
    color: green;
    border: 2px var(--scheme-color-4) solid;
    border-radius: 20px;
}
.Escudo img {
    max-width: 100%; 
    height: auto;
    border-radius: 15px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
}
p {
    line-height: 1.8; 
    text-align: justify; 
    color: #333; 
    font-size: 1.05rem;
}
nav.navbar{
    background-color: var(--color-navbar) !important;
}
footer {
    background-color: var(--color-navbar);
   font{
    color: white;
   }
}
/*---------------------------------- Seccion de index css----------------------------------*/